# Uses action: https://github.com/ncipollo/release-action

name: Create Release

on: 
  workflow_call:
    inputs:
      tag:
        description: Release tag name
        required: true
        type: string
      draft:
        description: Marks release as a draft release
        type: boolean
        default: false
      prerelease:
        description: Marks release as pre-release
        type: boolean
        default: false
      skipIfReleaseExists:
        description: Skip action if a non-draft release already exists
        type: boolean
        default: true

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v5
    - uses: ncipollo/release-action@v1
      with:
        generateReleaseNotes: true
        name: ${{ github.event.repository.name }} ${{ inputs.tag }}
        skipIfReleaseExists: ${{ inputs.skipIfReleaseExists }}
        tag: ${{ inputs.tag }}
        draft: ${{ inputs.draft }}
        prerelease: ${{ inputs.prerelease }}
    - name: Print the job summary
      run: |
        echo Created release ${{ inputs.tag }} >$GITHUB_STEP_SUMMARY